
/* property */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin:auto;
}
.clear-fix{
    clear: both;
}

/* parent */
.parent{
    margin-bottom:100px;
}
.parent .parent-img{
  background-image: url(../images/hero\ img.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  position: relative;
}
.parent .opacity{
    background-color: rgba(0, 0, 0, 0.767);
    position: absolute;
    top:0;
    right:0;
    left:0;
    height: 100vh;
}
.parent .opacity .navbar{
    padding: 20px 0;
}
.parent .opacity .navbar .nav-logo{
    color:#ff305b;
    font-size: 18px;
    font-weight: bold;
    float: left;
}
.parent .opacity .navbar .nav-links{
    color:#ff305b;
    font-size: 15px;
    font-weight: bold;
    float: right;
    padding-top: 10px;
}
.parent .opacity .navbar .nav-links li{
    padding:0 11px ;
    font-size: 18px;
    list-style:none ;
    float: left;
} 
.parent .opacity .navbar .nav-links li a{
    text-decoration: none;
    color:#fff;
    text-transform: capitalize;
    transition: .8s;
}
.parent .opacity .navbar .nav-links li:first-of-type a,
.parent .opacity .navbar .nav-links li:hover a
{
    color:#ff305b;
}
.parent .opacity p,
.parent .opacity h2,
.parent .opacity .p1
{
    text-align: center;
}
.parent .opacity p{
    color: ghostwhite;
    font-size: 26px;
    margin-top:300px;
    font-weight: bold;
}
.parent .opacity h2{
    color:#ff305b;
    font-size:90px;
    text-transform: capitalize;
    font-weight: bold;
}

.parent .opacity .p1{
    color: rgba(248, 248, 255, 0.808);
    margin-top:30px;
}
/* hello */
.hello{
    margin:100px 0 ;
}
.hello .hello-img{
    width:35%;
    display: inline-block;
    border: 8px solid rgb(97, 96, 96);
    border-radius: 8px;
    text-align: center;
    margin:0 50px;
}
.hello .hello-img img{
    width:100%;
    position: relative;
    left:30px;
    top:30px;
}
.hello .hello-info{
    display: inline-block;
    width:49%;
    margin-left:20px;
    vertical-align: top;
}
.hello .hello-info h2{
    margin-bottom:20px;
    font-size: 40px;
    text-transform: capitalize;
    position: relative;
    padding-left: 25px;
}
.hello .hello-info h2::before{
    content:"";
    width: 5px;
    height: 35px;
    position: absolute;
    background-color:#ff305b ;
    top:6px;
    left:0
}
.hello .hello-info p{
    line-height: 1.5;
    border-bottom:1px dashed rgb(136, 135, 135);
    padding-bottom:30px ;
    font-size: 18px;
    color:rgb(131, 129, 129);
    margin-bottom: 20px;
}
.hello .hello-info .row{
    width: 49%;
    display: inline-block;
    margin:20px 0;
    font-size: 19px;
}
.hello .hello-info .row span{
    padding: 10px;
    color:rgb(131, 129, 129);
}
.hello .hello-info button{
    border: none;
    margin:30px 10px 0 0;
    background-color:#ff305b;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 4px;
    transition:1s;
}
.hello .hello-info button:hover{
    background-color:rgb(216, 57, 37);
}
.hello .hello-info button a{
    color:#fff;
    text-decoration: none;
    margin-right: 5px;
}
.hello .hello-info button i{
    color:azure
}
/* services */
.services{
    background-color: rgba(247, 246, 237, 0.89);
    text-align: center;
    margin: 100px 0;
    position: relative;
    padding: 100px 0;
}
.services .our-serv{
   padding-bottom: 100px;
    font-size: 30px;
}
.services .our-serv .after{
    width:100px;
    margin: 15px auto;
    height: 7px; 
    border-color: #ff305b transparent;
    border-width: 1px;
    border-style: solid;
}
.services .our-serv .after::after{
    content: "";
    width:200px;
    height: 1px; 
    background-color: #ff305b ;
    position: absolute;
    top:26.2%;
    left:42%;
}
.services .item{
    width:24%;
    display: inline-block;
    padding:40px 20px;
    transition: .5s;
}
.services .item:hover{
    box-shadow: 0 15px 20px rgb(0,0,0,.1);
    background-color: #fff;
    transform: scale(1);
}
.services .item i{
   font-size: 24px;
   color: #ff305b ;
    padding-bottom: 20px;
    transition: .5s;
}
.services .item:hover i{
    transform: scale(1.3);
 }
.services .item h2{
    padding-bottom: 20px;
    font-size: 22px;
}
.services .item p{
    line-height: 1.5;
    font-size: 20px;
    color:#888
}

/* portfolio */
.portfolio{
    text-align: center;
    margin: 100px 0;
    position: relative;
    padding: 100px 0;
}
.portfolio .our-por{
   padding-bottom: 100px;
    font-size: 30px;
}
.portfolio .our-por .after1{
    width:100px;
    margin: 15px auto;
    height: 7px; 
    border-color: #ff305b transparent;
    border-width: 1px;
    border-style: solid;
}
.portfolio .our-por .after1::after{
    content: "";
    width:200px;
    height: 1px; 
    background-color: #ff305b ;
    position: absolute;
    top:14.7%;
    left:42%;
}
.portfolio .our-por ul{
 display: inline-block;
   margin-top: 18px;
}
.portfolio .our-por ul li{
    list-style: none;
    padding: 20px;
}
.portfolio .our-por ul:first-of-type a{
    color: #ff305b
}
.portfolio .our-por ul li a{
    text-decoration: none;
    text-transform:capitalize;
    font-size: 20px;
    color:#888
}
.portfolio .product{
    width:32.3333%;
    display: inline-block;
    padding:40px 20px;
   
    position: relative;
    margin:0 5px 10px 0
}

.portfolio .product img{
    width:100%;
}
 .portfolio .product:hover .product-opacity{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.692);
    transition: .5s;
} 

/* caontr */
.caontr{
    background-color: rgba(247, 246, 237, 0.89);
    text-align: center;
    margin: 100px 0;
    padding: 100px 0;
}
.caontr .item1{
    width:24%;
    display: inline-block;
    padding:40px 20px;
}
.caontr .item1 i{
   font-size: 24px;
   color: #ff305b ;
    padding-bottom: 20px;
}
.caontr  .item1 h2{
    padding-bottom: 10px;
    font-size: 26px;
}
.caontr .item1 p{
    font-size: 20px;
    color:#888
}

.our{
    text-align: center;
    position: relative;
    padding: 20px;
}
.our .our-serv{
    font-size: 30px;
}
.our .our-serv .after{
    width:100px;
    margin: 15px auto;
    height: 7px; 
    border-color: #ff305b transparent;
    border-width: 1px;
    border-style: solid;
}
.our .our-serv .after::after{
    content: "";
    width:200px;
    height: 1px; 
    background-color: #ff305b ;
    position: absolute;
    bottom:29%;
    left:42%; 
}
/* client*/
.client{
    padding: 30px 0;
    position: relative;
}
.client::before{
    content:"";
    position: absolute;
    border-radius: 50%;
    width:8px;
    height: 8px;
    border:1px solid #ff305b;
    bottom:0;
    left:50%;
}
.client::after{
    content:"";
    position: absolute;
    width:24px;
    height: 10px;
    background: #ff305b;
    bottom:0;
    left:47.5%;
    border-radius: 8px;
}
.client .item2{
    width:70%;
    background-color: rgba(247, 246, 237, 0.89);
    margin: auto;
    padding:40px;
    position: relative;
}
.client .item2::before{
    content:"";
    border-width: 100px;
    border-color: #ff305b transparent transparent #ff305b;
    border-style: solid;
    position: absolute;
    left:0;
    top:0;
}
.client .item2 .client-img{
    position: relative;
    z-index: 3;
    width:20%;
    border-radius: 50%;
    display: inline-block;
}
.client .item2 .client-img img{
  position: absolute;
    width:100%; 
    border-radius: 50%;
}
.client .item2 .client-info{
    padding-left:30px;
    vertical-align: top;
    width:60%;
    display: inline-block;
}
.client .item2 .client-info h3{
    padding-bottom:10px ;
    font-size:23px
}
.client .item2 .client-info p{
    line-height: 1.5;
    font-size: 18px;
    padding-top: 10px;
}

/* blog */
.blog{
    background-color: rgba(247, 246, 237, 0.89);
    margin: 100px 0;
    position: relative;
    padding: 100px 0;
}
.blog .our-serv{
   padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
}
.blog .our-serv .after{
    width:100px;
    margin: 15px auto;
    height: 7px; 
    border-color: #ff305b transparent;
    border-width: 1px;
    border-style: solid;
}
.blog .our-serv .after::after{
    content: "";
    width:200px;
    height: 1px; 
    background-color: #ff305b ;
    position: absolute;
    top:22.1%;
    left:42%;
}
.blog .item4{
    width:30.3333%;
    display: inline-block;
    background-color: #fff;
    margin-right: 10px;
}
.blog .item4 img{
    width:100%;
    background-color: #fff;
}
 .blog .item4 h2{
    font-size: 22px;
    padding-left:20px ;
}
.blog .item4 p{
    line-height: 1.3;
    font-size: 20px;
    color:#888;
    padding: 20px 20px;
}
.blog .item4 span{

    padding-left: 20px ;
}
/* contact us */
.contact-us{
    margin: 100px 0;
    position: relative;
    padding: 100px 0;
    margin: auto;
}
.contact-us .our-serv{
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
}
.contact-us .our-serv .after{
    width:100px;
    margin: 15px auto;
    height: 7px; 
    border-color: #ff305b transparent;
    border-width: 1px;
    border-style: solid;
}
.contact-us .our-serv .after::after{
    content: "";
    width:200px;
    height: 1px; 
    background-color: #ff305b ;
    position: absolute;
    top:25%;
    left:42%;
}
.contact-us form  {
 width:55%;
 margin: auto;
}
.contact-us form .input {
    width:47%;
    margin-right: 32px;
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
    border:1px solid rgba(141, 141, 141, 0.787);
    border-radius: 4px;
}
.contact-us form .input2 {
    width:47%;
    border:1px solid rgba(141, 141, 141, 0.787);
    border-radius: 4px;
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
}
.contact-us form .subject {
    width:100%;
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
    border:1px solid rgba(141, 141, 141, 0.787);
    border-radius: 4px;
}
.contact-us form textarea{
    display: block;
    width: 100%;
    border:1px solid rgba(141, 141, 141, 0.787);
    border-radius: 4px;
    padding:10px;
    font-size: 15px;
}
.contact-us form .submit{
    border:1px solid #ff305b;
    border-radius: 4px;
    padding:10px 20px;
    margin-top:10px;
    color:#fff;
    text-transform: uppercase;
    background-color: #ff305b;
    transition: 1s;
}
.contact-us form .submit:hover{
    background-color: rgb(216, 57, 37);
}
/* footer */

.footer{
    background-color: #333;
    text-align: center;
    padding:50px 0;
}

.footer .icon i{
    color:#fff;
    margin-right:20px;
    font-size: 20px;
    transition: .5s;
}
.footer .icon i:hover{
    color:#ff305b;
 
}
.footer p{
    color:rgb(241, 239, 236);
    padding:20px 0;
    font-size: 20px;
}
.footer p a{
    color:#ff305b;
    padding:30px 0;
}